<% include head.ejs%>

    <div class="page-header text-center">
        <div class="logo"><img src="/assets/deepRed_100.png" /></div>

        <h1><span class="fa fa-anchor"></span> Home Page</h1>
        <a href="/" class="btn btn-default btn-sm">Start game</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-12 profile-info">
          
            <div class="well col-sm-5 well-container">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.email) { %>
                <p>
                    <strong>display name</strong>: <%= user.display %><br>
                    <strong>id</strong>: <%= user.id %><br>
                    <strong>email</strong>: <%= user.email %>
                </p>

                <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
            <div class="well col-sm-5 well-container">
              <a href="/" class="btn btn-primary btn-sm btn-block">Start game</a></br>
              <a href="/#" class="btn btn-default btn-sm btn-block" disabled>1 vs 1</a></br>
              <a href="/#" class="btn btn-default btn-sm btn-block" disabled>1 vs Computer</a>
            </div>
        </div>

<% include foot.ejs%>