.* {
  font-family: 'Helvetica Neue';
  border: 0.5px gray dashed;
}
* {
  font-family: 'Roboto', sans-serif;
}
html {
  height: 100%;
}
body {
  background-color: rgb(90,90,90);
  min-height: 100vh;
  /*overflow:hidden !important;*/
  /*overflow-x: hidden !important;*/
  /*position:absolute;*/

}

.site-wrap {
  background-color: rgb(40,40,40);
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  /*max-width: 960px;*/
}

.header {
  background-color: #121212;
  color: white;
  display: flex;
  top: 0vw;
  width: 100%;
  /*height: 15vw;*/
}

.logo-img {
  display: block;
  margin: left;
}

/*.header h1 {
  font-size: 1.1rem;
  padding-left: 15px;
}

.header table {
  width: 100%;
}

.header .button-cell {
  padding-top: 15px;
  float: right;
}

.header .button {
  margin: 5px;
  padding: 5px;
}*/

.content {
  display: flex;
  justify-content: center;
  /*height: 100vw;*/
  /*width: 80vw;*/
}

.flex-row {
  display: flex;
  flex-direction: row;
  /*align-items: center;*/
  /*justify-content: center;*/
}

.flex-col {
  display: flex;
  flex-direction: column;
  /*margin: 15px auto;
  padding: 5px;*/
  width: 44vw;
  height: 44vw;
}

.left-col {
  /*display: flex;*/
  background-color: #808080;
  margin: 1vw 0px;
  /*border-radius: 2px;*/
  color: white;
  width: 10vw;
  min-width: 0vw;
}

.capt-col {
  background-color: #808080;
  margin: 1vw 1vw 0 1vw;
  /*border-radius: 2px;*/
  /*color: white;*/
  flex-direction: row;
  width: 5vw;
  min-width: 0vw;
}
.capt-black-col {
  width: 5vw;
}
.right-col {
  background-color: #808080;
  margin: 1vw 0 0 1vw;
  color: white;
  width: 20vw;
  min-width: 10vw;
}


.player-top {
  margin-left: 5px;
  font-size: 1.5vw; 
}

.countdown-top-clock {
  margin-left: 5px;
  font-size: 1.5vw; 
}

.move-history {
  margin-left: 5px;
  font-size: 1.5vw; 
  flex-grow: 2;
}

.countdown-bot-clock {
  margin-left: 5px;
  font-size: 1.5vw;
  flex-grow: 1;
  height: 19px;
}

.player-bot {
  margin-left: 5px;
  font-size: 1.5vw;
  margin-top: auto;
}

/*@media all and (max-width: 640px) {
  .flex-row {
    display: flex;
    flex-direction: column;
  }
}*/
