.shame-board {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 83vw;
}

.shame-board-title {
  text-align: center;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 83vw;
  height: 50px;
}

.title {
  color: #B71C1C;
  font-size: 30px;
}