.* {
  font-family: 'Helvetica Neue';
  border: 0.5px gray dashed;
}

body {
  background-color: rgb(90,90,90);
}

.site-wrap {
  background-color: rgb(40,40,40);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  max-width: 960px;
}

.header {
  background-color: #121212;
  color: white;
  display: flex;
  width: 100%
}

.header h1 {
  font-size: 1.1rem;
  padding-left: 15px;
}

.header table {
  width: 100%;
}

.header .button-cell {
  padding-top: 15px;
  float: right;
}

.header .button {
  margin: 5px;
  padding: 5px;
}

.content {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
}

.right-col {
  background-color: #808080;
  margin: 15px auto;
  border-radius: 2px;
  color: white;
}