.captured-pieces {
  /*min-height: 8vh;*/
  /*min-height: 5vw;*/
  /*height: 44vw;*/
  /*background-color: #e6e6e6;*/
  /*border-radius: 2px;*/
  /*margin: 5px;
  padding: 5px;*/
  position: relative;
}

.pieces-container {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  /*align-items: left;*/
}

.captured-img {
  max-width: 2.5vw;
  max-height: 2.5vw;
}

.countdown-clock {
  position: absolute;
  top: 14px;
  right: 90px;
}

.display-color-text {
  color: #600003;
}
