.captured-pieces {
  /*min-height: 8vh;*/
  min-height: 115px;
  background-color: #e6e6e6;
  border-radius: 2px;
  margin: 5px;
  padding: 5px;
  position: relative;
}

.pieces-container {
  display: -webkit-flex;
  display: flex;
  /*align-items: left;*/
}

.captured-img {
  max-width: 4vh;
  max-height: 4vh;
}

.countdown-clock {
  position: absolute;
  top: 14px;
  left: 82%;
}

.display-color-text {
  color: #600003;
}