.chat-message-container {
  border-radius: 8px;
  margin: 2px;
  padding: 5px;
  width: 65%;

}
.white-chat {
  float: left;
  clear: both;
  text-align: left;
  width: 65%;
  background-color: #EEEEEE;
  color: #383838;
}
.black-chat {
  clear: both;
  float: right;
  text-align: right;
  width: 90%;
  background-color:#383838;
  color: white;
}
.red-chat {
  clear: both;
  float: center;
  text-align: left;
  width: 98%;
  background-color:#FFEBEE;
  color: #616161;
  font-size: 0.9rem;
}
.chat-message {
  font-size: 1.25vw;
}
.chat-message-global {
  font-size: 1.25vw;
}
.chat-username {
  font-size: 1.25vw;
  font-weight: bold;
  font-style: italic;
}
.chat-timeStamp {
  clear: both;
  font-size: 0.5vw;
  color: white;
  border-radius: 3px;
  text-align: center;
  margin-top: 5px;
}
.red-image {
  margin: 2px;
}
