.header h1 {
  font-size: 1.1rem;
  padding-left: 15px;
}

.header table {
  width: 100%;
}

.header td {
  width: 33%;
}

.header .button-cell {
  text-align: right;
  padding-right: 8.5vw;
}

.header .button {
  margin: 5px;
  padding: 5px;
}

.header .banner-img {
  display: block;
  margin: auto;
}

.header .drawer {
  text-align: left;
}
