.container {
  /*flex-wrap: nowrap;  */
  /*display: flex;
  flex: 0;*/
}

.room-container {
  /*box-shadow: inset 1px 1px 10px grey, 0 0 10px grey;*/
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-flow: center;
  justify-content: baseline;
  align-items: stretch;
  width: 80vw;
  height: 30vw;
}

.grid {
  margin: -4vw auto;
  flex-flow: row;
  padding: 5vw;
  height: 100vw;
  /*box-shadow: inset 1px 1px 10px grey, 0 0 10px grey;*/
  flex: 1 0 auto;
  align-self: flex-start;
  padding-right: auto;
  padding-left: auto;
  text-align: center;
}

.control-box {
  /*margin: 8px;
  padding: 5px;*/
  /*box-shadow: inset 1px 1px 10px grey, 0 0 10px grey;*/
}


.room-name {
  text-align: center;
  color: #383838;
  font-size: 0.9vw;
}

.player-name {
  text-align: center;
  font-style: italic;
  color: #383838;
  font-size: 0.9vw;
}

.title-text {
  font-weight: bold;
  font-size: 1vw;
  text-align: center;
}

.existing-room {
  /*flex: 1;*/
  /*overflow: scroll;*/
  /*flex-grow: 1;*/
  flex-basis: 25%;
}

.player-vs-AI {
  flex-basis: 25%;
}

.AI-vs-AI {
  flex-basis: 25%;
}

.global-chat {
  flex-basis: 25%;
}

.room-list {
  /*overflow: scroll;*/
}

.td-icon {
  margin: 10px auto;
  padding: 10px;
  text-align: center;
}

.icon {
  height: 4vw;
}

.deepred-text {
  margin: null;
  padding: 2vw;
  font-size: 1.2vw;
  text-align: left;
  vertical-align: top;
}

.table-col {
  width: 25%;
}

.start-ai {
  text-align: center;
  margin: auto;
}

.icon-button {
  text-align: center;
  margin: auto;
}

.room-listing {
  margin: auto;
}